image: node:lts

stages:
  - build
  - test
  - deploy

cache:
  paths:
    - ./src/client/node_modules/
    - ./src/functions/node_modules/
    - ./src/remoteCodeExecution/node_modules/

build-frontend:
  stage: build
  script:
    - cd src/client
    - yarn
    - yarn build
  artifacts:
    expire_in: 1 mos
    paths:
      - ./src/client/build/
  only:
    changes:
      - src/client/**/*
  retry:
    max: 2
    when:
      - runner_system_failure
      - stuck_or_timeout_failure

test-frontend:
  stage: test
  script:
    - cd src/client
    - yarn
    - yarn test --watchAll=false
  cache:
    policy: pull
  only:
    changes:
      - src/client/**/*
  retry:
    max: 2
    when:
      - runner_system_failure
      - stuck_or_timeout_failure

test-backend:
  stage: test
  script:
    - cd src/functions
    - npm i
    - npm test
  only:
    changes:
      - src/functions/**/*
  retry:
    max: 2
    when:
      - runner_system_failure
      - stuck_or_timeout_failure

test-RCE:
  stage: test
  script:
    - cd src/remoteCodeExecution
    - npm i
    - npm run test:unit
  only:
    changes:
      - src/remoteCodeExecution/**/*
  retry:
    max: 2
    when:
      - runner_system_failure
      - stuck_or_timeout_failure

test-e2e:
  image: cypress/browsers:node14.16.0-chrome89-ff86
  stage: test
  script:
    - cd src/e2e
    - npx cypress run --headless --browser chrome
  cache: {} # Disable globally defined cache
  dependencies: [] # Don't download artifacts
  only:
    changes:
      - src/remoteCodeExecution/**/*
      - src/functions/**/*
      - src/client/**/*
  retry:
    max: 2
    when:
      - runner_system_failure
      - stuck_or_timeout_failure

deploy-backend:
  stage: deploy
  before_script:
    - npm i -g firebase-tools
  script:
    - cd src/functions
    - npm i --production # don't install dev dependencies
    - firebase deploy --only functions --token $FIREBASE_TOKEN
  cache: {} # Disable globally defined cache
  dependencies: [] # Don't download artifacts
  only:
    refs:
      - master
    changes:
      - src/functions/**/*
  retry:
    max: 2
    when:
      - runner_system_failure
      - stuck_or_timeout_failure

deploy-frontend:
  stage: deploy
  before_script:
    - npm i -g firebase-tools
  script:
    - cd src/client
    - yarn install --prod # don't install dev dependencies
    - yarn build
    - firebase deploy --only hosting --token $FIREBASE_TOKEN
  cache: {} # Disable globally defined cache
  dependencies: [] # Don't download artifacts
  only:
    refs:
      - master
    changes:
      - src/client/**/*
  retry:
    max: 2
    when:
      - runner_system_failure
      - stuck_or_timeout_failure
