image: cypress/browsers:node16.17.0-chrome106

stages:
  - e2e

prod-e2e:
  stage: e2e
  script:
    - cd src/e2e
    - npx cypress run --browser chrome
  retry:
    max: 2
    when:
      - runner_system_failure
      - stuck_or_timeout_failure
