image: node:14

stages:
  - e2e

## Set environment variables for folders in "cache" job settings for npm modules and Cypress binary
variables:
  npm_config_cache: '$CI_PROJECT_DIR/.npm'
  CYPRESS_CACHE_FOLDER: '$CI_PROJECT_DIR/cache/Cypress'

cache:
  # Define a cache with the key: ${CI_COMMIT_REF_SLUG} so that jobs of each branch always use the same cache
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    # - cache/Cypress
    - ./src/client/node_modules/
    - ./src/functions/node_modules/
    - ./src/remoteCodeExecution/node_modules/

prod-e2e:
  image: cypress/browsers:node14.16.0-chrome89-ff86
  stage: e2e
  script:
    - cd src/e2e
    - cypress run --browser chrome
  cache: {} # Disable globally defined cache
  dependencies: [] # Don't download artifacts
  retry:
    max: 2
    when:
      - runner_system_failure
      - stuck_or_timeout_failure
