#edit-test {
    margin-bottom: 10px;
  }

#setup-test {
    margin-bottom: 10px;
  }
  
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  #root {
    height: 100%;
    display: flex;
  }
  
  #dashboard-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }