#edit-test {
  margin-bottom: 10px;
}

#edit-test-card {
  margin-bottom: 15px;
}

#setup-test {
  margin-bottom: 10px;
}

#setup-test-card {
  margin-top: 20px;
  margin-bottom: 15px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  display: flex;
}

#dashboard-container {
  height: 100%;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}
