name: Prod E2E
on:
  workflow_dispatch:
  schedule:
    # runs tests every monday at 10am
    - cron: '0 10 * * MON'
jobs:
  cypress-run:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: cypress-io/github-action@v4
        with:
          build: npm i -D cypress@10.11.0
          install: false
          working-directory: src/e2e
          browser: chrome
  # Run email test
  run_tests:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Run script file
      run: |
         chmod +x ./src/e2e/email-test.sh
         ./src/e2e/email-test.sh
      shell: bash
